body{
    width: 800px;
    margin: 10px auto;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

h1{
    font-weight: 900;
}

.todo h1{
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
}

.todo p{
    display: none;
}

.todo input[type=checkbox]{
    display: inline;
}

.complete{
    text-decoration:line-through;
    font-style: italic;
    color: #444;
}

.delete{
    line-height: 0%;
    vertical-align: middle;
    color: #ddd;
    display: inline-block;
    margin-left: 10px;
}

.delete:hover{
    color: #f00;
    cursor: pointer;
}

.editor {
    padding: 5px 10px;
    margin: 5px 10px;
}

.editor-new{
    display: inline-block;
    padding-left: 10px;
    min-width: 100px;
}

.list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder);
    font-style: italic;
    color: #444;
}